<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wowo.day2.EmpDao">
    <insert id="insertEmp" parameterType="emp" useGeneratedKeys="true" keyProperty="id">
    insert $emp(name,sal,dept_id) values(#{name},#{salary},#{dept.id})
</insert>

    <select id="getEmpById" parameterType="int" resultMap="">
      SELECT e.id,e.name,sal,dept_id,d.id,d.name dname
FROM $emp e,$dept d
WHERE e.dept_id = d.id and e.id=#{id};
    </select>

    <select id="getDeptById" parameterType="int" resultMap="">
        SELECT d.id id,d.name name,e.id eid,e.name ename,e.sal esal,e.dept_id
FROM $dept d,$emp e
WHERE d.id=e.dept_id AND d.id=#{id};
    </select>

    <resultMap id="empResultMap" type="emp">
     <id property="id" column="id"></id>
     <result property="name" column="name"></result>
      <result property="salary" column="sal"></result>
        <!--映射关联属性-->
      <association property="dept" javaType="Dept" column="dept_id">
        <id property="id" column="did"></id>
        <result property="name" column="dname"></result>
      </association>
        <collection property="">

        </collection>
    </resultMap>
</mapper>